* {
  box-sizing: border-box;
}
.app {
  width: 315px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

.brand {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #eee;
}

.section {
  padding: 24px;
}

.section-title {
  margin-top: 0;
}

.section-description {
  line-height: 26px;
}

.articles {
  border-top: 1px solid #eee;
}

.article {
  border-bottom: 1px solid #eee;
}

.article-title {
  margin-top: 0;
}

.article-title a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 415px) {
  .app {
    width: 100%;
  }
} ;
